@use 'frontend/app/styles/common';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.dialog-content {
  flex: 1;
  overflow: auto;
  max-height: none; // Override default max-height
  padding: 20px 24px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px 20px;
}

.mat-mdc-raised-button {
  @include common.box-shadow-none;
  @include common.border-black;
}
