@if (showErrors && diagnostics()?.errors?.length) {
  @for (error of diagnostics().errors; track $index; let i = $index) {
    <div class="callout is-critical" role="alert">
      <header>
        <div class="header-title">
          <span class="severity-badge">Error</span>
          <span class="diagnostic-count-badge">{{diagnostics().errors.length}}</span>
        </div>
        <md-icon-button aria-label="Dismiss error" (click)="dismissError(i)">
          <md-icon>close</md-icon>
        </md-icon-button>
      </header>
      <ul class="callout-list">
        <li [innerHtml]="error"></li>
      </ul>
    </div>
  }
}
@if (showWarnings && diagnostics()?.warnings?.length) {
  @for (warning of diagnostics().warnings; track $index; let i = $index) {
    <div class="callout is-important" role="alert">
      <header>
        <div class="header-title">
          <span class="severity-badge">Warning</span>
          <span class="diagnostic-count-badge">{{diagnostics().warnings.length}}</span>
        </div>
        <md-icon-button aria-label="Dismiss warning" (click)="dismissWarning(i)">
          <md-icon>close</md-icon>
        </md-icon-button>
      </header>
      <ul class="callout-list">
        <li [innerHtml]="warning"></li>
      </ul>
    </div>
  }
}
@if (showInfo && diagnostics()?.info?.length) {
  @for (info of diagnostics().info; track $index; let i = $index) {
    <div class="callout is-helpful" role="status">
      <header>
        <div class="header-title">
          <span class="severity-badge">Info</span>
          <span class="diagnostic-count-badge">{{diagnostics().info.length}}</span>
        </div>
        <md-icon-button aria-label="Dismiss info" (click)="dismissInfo(i)">
          <md-icon>close</md-icon>
        </md-icon-button>
      </header>
      <ul class="callout-list">
        <li [innerHtml]="info"></li>
      </ul>
    </div>
  }
}

