<div *ngIf="diagnostics.errors.length" class="callout is-critical">
  <header>Errors</header>
  <ul class="callout-list">
    <li *ngFor="let error of diagnostics.errors" [innerHtml]="error">
    </li>
  </ul>
</div>
<div *ngIf="diagnostics.warnings.length" class="callout is-important">
  <header>Warnings</header>
  <ul class="callout-list">
    <li *ngFor="let warning of diagnostics.warnings" [innerHtml]="warning">
    </li>
  </ul>
</div>
<div *ngIf="diagnostics.info.length" class="callout is-helpful">
  <header>Info</header>
  <ul class="callout-list">
    <li *ngFor="let info of diagnostics.info" [innerHtml]="info">
    </li>
  </ul>
</div>
