@if (!loading) {
  <div>
    @if (dataFound) {
      <div>
        <main-page></main-page>
      </div>
    } @else {
      <empty-page></empty-page>
    }
  </div>
} @else {
  @if (loading) {
    <div class="progress-container">
      <div class="loading-message">Initializing runs and tools...</div>
      <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
      <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading"></mat-progress-bar>
    </div>
  }
}


