<div style="display: flex; justify-content: flex-end; width: 100%;">
  <div *ngIf="traceDetails && traceDetails.size > 0">
    <button mat-button class="details-button" [matMenuTriggerFor]="detailsMenu">Details <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #detailsMenu="matMenu" class="details-menu">
      <div *ngFor="let detail of availableDetails" (click)="$event.stopPropagation()">
        <mat-checkbox [checked]="traceDetails.get(detail.key)" (change)="toggleDetail(detail.key, $event.checked)" style="margin: 0 16px;">
          {{detail.label}}
        </mat-checkbox>
      </div>
    </mat-menu>
  </div>
  <button mat-button (click)="switchVersion()">
    Switch to {{useTraceViewerV2 ? 'V1' : 'V2'}}
  </button>
</div>
<trace-viewer-container [url]="url"
                        [traceViewerModule]="traceViewerModule"
                        [useTraceViewerV2]="useTraceViewerV2"
                        [selectedEvent]="selectedEvent"
                        [selectedEventProperties]="selectedEventProperties"
                        [eventDetailColumns]="eventDetailColumns"
                        [selectionStartFormat]="selectionStartFormat"
                        [selectionExtentFormat]="selectionExtentFormat"
                        (eventSelected)="onEventSelected($event)"
                        (eventsSelected)="onEventsSelected($event)"
                        (searchEvents)="onSearchEvents($event)"
                        (initializeWasm)="onInitializeWasm()">
</trace-viewer-container>
