<ng-container *ngIf="useTraceViewerV2; else traceViewV1">
  <div class="error-overlay" *ngIf="traceViewerV2LoadingStatus === TraceViewerV2LoadingStatus.ERROR">
    <mat-icon>error</mat-icon>
    <div class="error-message">{{'Error, please use the old frontend. ' + (traceViewerV2ErrorMessage ?? '')}}</div>
  </div>
  <div class="loading-overlay" *ngIf="traceViewerV2LoadingStatus !== TraceViewerV2LoadingStatus.IDLE && traceViewerV2LoadingStatus !== TraceViewerV2LoadingStatus.ERROR">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading-status">{{traceViewerV2LoadingStatus}}</div>
    <div class="tutorial">{{tutorials[currentTutorialIndex]}}</div>
  </div>
 -->
  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
 -->
  <div *ngIf="selectedEvent" #drawer class="drawer">
    <div>Name: {{selectedEvent.name}}</div>
    <div>Start Time: {{selectedEvent.startUsFormatted}}</div>
    <div>Duration: {{selectedEvent.durationUsFormatted}}</div>
  </div>
</ng-container>
<ng-template #traceViewV1>
  <iframe #tvIframe [src]="url | safe" onload="focus();"></iframe>
</ng-template>
