<div *ngIf="useTraceViewerV2" class="search-container">
  <mat-form-field appearance="outline">
    <input matInput #searchBox placeholder="Search events" aria-label="Search trace events" (input)="onSearchEvent(searchBox.value)" />
  </mat-form-field>
  <div *ngIf="currentSearchQuery" class="search-result-count">{{searchResultCountText}}</div>
  <button mat-icon-button aria-label="Previous search result" (click)="prevSearchResult()" [disabled]="!currentSearchQuery">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button aria-label="Next search result" (click)="nextSearchResult()" [disabled]="!currentSearchQuery">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<ng-container *ngIf="useTraceViewerV2; else traceViewV1">
  <div class="error-overlay" *ngIf="traceViewerV2LoadingStatus === TraceViewerV2LoadingStatus.ERROR">
    <mat-icon>error</mat-icon>
    <div class="error-message">{{'Error, please use the old frontend. ' + (traceViewerV2ErrorMessage ?? '')}}</div>
  </div>
  <ng-container *ngIf="traceViewerV2LoadingStatus !== TraceViewerV2LoadingStatus.IDLE && traceViewerV2LoadingStatus !== TraceViewerV2LoadingStatus.ERROR">
    <div *ngIf="isInitialLoading" class="loading-overlay">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div class="loading-status">{{traceViewerV2LoadingStatus}}</div>
      <div class="tutorial">{{tutorials[currentTutorialIndex]}}</div>
    </div>
    <div *ngIf="!isInitialLoading" class="incremental-loading-spinner">
      <div class="loading-status">Loading more data...</div>
      <mat-progress-spinner mode="indeterminate" diameter="32"></mat-progress-spinner>
    </div>
  </ng-container>
 -->
  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
 -->
  <div *ngIf="selectedEvent" #drawer class="drawer">
    <div>Name: {{selectedEvent.name}}</div>
    <div>Start Time: {{selectedEvent.startUsFormatted}}</div>
    <div>Duration: {{selectedEvent.durationUsFormatted}}</div>
  </div>
</ng-container>
<ng-template #traceViewV1>
  <iframe #tvIframe [src]="url | safe" onload="focus();"></iframe>
</ng-template>
