/** CSS for a capture profile dialog component. */

@use 'frontend/app/styles/common';

mat-expansion-panel {
  width: 400px;
}

.mat-expansion-panel-header {
  padding: 0 5px 0 0;
}

mat-form-field {
  width: 400px;
}

.radio-label,
mat-radio-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  cursor: pointer;
}

mat-dialog-actions {
  justify-content: flex-end;
  gap: 8px;
}

.mat-mdc-raised-button {
  @include common.box-shadow-none;
  @include common.border-black;
}
