<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="item-container">
      <div class="form-container">
        <form (ngSubmit)="onSearchGraph()">
          <mat-form-field *ngIf="graphTypes.length > 0" class="full-width" id="graph-type-selector" appearance="outline">
            <mat-label>Graph Type</mat-label>
            <mat-select
              name="graphType"
              panelClass="panel-override"
              [(ngModel)]="graphType"
              (selectionChange)="onGraphTypeSelectionChange($event.value)"
            >
              <mat-option *ngFor="let type of graphTypes" [value]="type.value">
                {{ type.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" id="xla-module-list-selector" appearance="outline">
            <mat-label> XLA Modules ({{ loadingModuleList ? 'loading...' : moduleList.length }})</mat-label>
            <mat-select
              name="selectedModule"
              panelClass="panel-override"
              [(ngModel)]="selectedModule"
              (selectionChange)="onModuleSelectionChange($event.value)"
            >
              <mat-option *ngFor="let module of moduleListOptions" [value]="module">
                {{ module }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>XLA Op Name</mat-label>
            <input
              matInput
              matTooltip="XLA Op name for the center node."
              aria-label="op-name"
              required
              autocomplete="off"
              [(ngModel)]="opName"
              name="opName"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Graph Width</mat-label>
            <input
              matInput
              matTooltip="Graph width from the center node. Suggest < 10."
              aria-label="graph-width"
              type="number"
              min="1"
              step="1"
              [(ngModel)]="graphWidth"
              name="graphWidth"
            />
          </mat-form-field>

          <mat-checkbox
            *ngIf="!showMeGraph"
            [(ngModel)]="showMetadata"
            name="showMetadata"
            class="full-width"
            >Show Metadata</mat-checkbox
          >
          <mat-checkbox
            *ngIf="!showMeGraph"
            [(ngModel)]="mergeFusion"
            name="mergeFusion"
            matTooltip="Hide the fusion subcomputations in the rendered graph"
            class="full-width"
          >
            Merge Fusion
          </mat-checkbox>
          <div class="actions">
            <button
              mat-flat-button
              extended
              name="submit"
              type="submit"
              color="primary"
              class="search-button"
              [disabled]="!validToPlot()"
            >
              <mat-icon>search</mat-icon> Search Graph
            </button>
          </div>
        </form>
      </div>
      <div class="hlo-download">
        <download-hlo
          [moduleName]="selectedModule"
          [showMetadata]="showMetadata"
        ></download-hlo>
      </div>
    </div>
    <op-details [sessionId]="sessionId"></op-details>
    <div class="progress-container-op-details" *ngIf="loadingOpProfile">
      <mat-spinner class="loading-spinner" color="primary" mode="indeterminate" diameter="20"></mat-spinner>
      <div class="loading-message">Preparing Op Details ...</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>
    <div class="progress-container" *ngIf="loadingGraph">
      <div class="loading-message">Loading graph...</div>
      <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
      <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading"></mat-progress-bar>
    </div>
    <div class="hlo-text-view-container">
      <hlo-text-view
        [graphType]="graphType"
        [sessionId]="sessionId"
        [moduleName]="selectedModule"
        [showMetadata]="showMetadata"
      ></hlo-text-view>
    </div>
    <mat-expansion-panel class="stack-trace-snippet-panel" *ngIf="sourceCodeServiceIsAvailable">
      <mat-expansion-panel-header>
        <mat-panel-title>Source Viewer</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="stack-trace-snippet-container">
          <source-mapper
              [sessionId]="sessionId"
              [programId]="programIdForSourceMapper"
              [opName]="opNameForSourceMapper"
              [opCategory]="opCategoryForSourceMapper"
              [sourceFileAndLineNumber]="sourceFileAndLineNumber"
              [stackTrace]="stackTrace" />
        </div>
      </ng-template>
    </mat-expansion-panel>
    <div *ngIf="!hasGraphOrLoading()" class="default-graph">
      <div><p>You can select a module and op to draw the graph. </p></div>
      <div *ngIf="showDefaultGraphOptions()">
        <p>To quick start, choose from the chips below to view its graph.</p>
        <mat-chip-listbox multiple aria-label="profile quick options">
          <mat-chip-option *ngFor="let option of defaultGraphOptions" [matTooltip]="option.tooltip" (click)="onClickDefaultGraphOption(option)" appearance="hairline-filter">{{ defaultGraphOptionLabel(option) }}</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
    <div *ngIf="!showMeGraph" class="graph-container">
      <iframe #iframe id="graph-html"></iframe>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
