<header role="banner">
  <mat-toolbar class="profiler-toolbar">
    <md-icon-button
        aria-label="Menu icon"
        i18n-aria-label="A button to open the side menu."
        class="sidenav-toggle-button"
        (click)="isSideNavOpen = !isSideNavOpen">
      <md-icon>menu</md-icon>
    </md-icon-button>
    <a href="/" class="homepage-link">
      <div class="x-icon-container">
        <md-icon class="x-icon" aria-hidden="true">
          shuffle
        </md-icon>
      </div>
      <span class="title">XProf</span>
    </a>
    @if (pluginVersion) {
      <span class="version-label">
        v{{pluginVersion}}
      </span>
    }
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
</header>

<!-- toolbar has a height of 64px, adding inline style to overwrite the fullscreen styles -->
<mat-sidenav-container fullscreen style="top:64px;">
  <mat-sidenav
      mode="side"
      opened
      [class.expanded]="isSideNavOpen"
      [style.width.px]="isSideNavOpen ? 340 : 80">
    <sidenav [expanded]="isSideNavOpen"></sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>
    @if (loading) {
      <div class="progress-container">
        <div class="loading-message">{{loadingMessage}}</div>
        <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
        <md-linear-progress indeterminate aria-label="Loading"></md-linear-progress>
      </div>
    }
    @if (!navigationReady) {
      <div class="progress-container">
        <div class="loading-message">Navigating. First-time session loads may take up to a few minutes.</div>
        <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
        <md-linear-progress indeterminate aria-label="Loading"></md-linear-progress>
      </div>
    }
    <div [className]="(loading || !navigationReady) ? 'hidden-content' : 'full-height'">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
