<mat-expansion-panel class="stack-frame-snippet" [expanded]="!failure && isAtTopOfStack" *ngIf="sourceCodeSnippetAddress">

  <mat-expansion-panel-header class="address">
    <mat-panel-title>
      <div class="file-line">
        {{sourceCodeSnippetAddress.fileName}}:{{sourceCodeSnippetAddress.lineNumber}}
        <mat-icon
          *ngIf="usingSourceFileAndLineNumber"
          class="info-icon"
          matTooltip="Stack-trace is unavailable for the selected HLO operation. Using source file name and line number instead.">
          info
        </mat-icon>
        <mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
        <mat-icon
          *ngIf="loaded && failure"
          class="external-link-icon"
          matTooltip="Failed to load the file">
          error
        </mat-icon>
      </div>
      <a
          [href]="codeSearchLink"
          target="_blank"
          class="external-link-icon"
          (click)="$event.stopPropagation()"
          [matTooltip]="codeSearchLinkTooltip"
          *ngIf="codeSearchLink">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div>
    <source-code-editor
      *ngIf="frame"
      [frame]="frame"
      [firstLineNumber]="(sourceCodeSnippetAddress?.firstLine ?? 1)"
      [targetLineNumber]="sourceCodeSnippetAddress?.lineNumber"
      [targetStartColumn]="$any(sourceCodeSnippetAddress)?.startColumn"
      [targetEndColumn]="$any(sourceCodeSnippetAddress)?.endColumn"
      [fileName]="sourceCodeSnippetAddress?.fileName">
    </source-code-editor>

    <message
      *ngIf="!frame && failure"
      title="Failed to load the file"
      [content]="failure">
    </message>

    <div *ngIf="!frame && !failure">Loading...</div>
  </div>
</mat-expansion-panel>
