@use 'frontend/app/styles/common';

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

div {
  margin-top: 10px;
}

.mat-mdc-raised-button {
  @include common.box-shadow-none;
  @include common.border-black;
}
