/** CSS for a kernel stats table component. */

@use 'frontend/app/styles/common';

:host {
  display: block;
  padding: 20px;
}

mat-form-field {
  margin: 0 8px;
}

mat-icon {
  color: common.$button-focus-color;
  vertical-align: bottom;
}

.table {
  border: 1px solid common.$border-color;
}
