<ng-container *ngIf="processedSuggestions.length > 0">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>{{title}} <span class="experimental-badge">EXPERIMENTAL</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="suggestion-list">
      <li *ngFor="let suggestion of processedSuggestions">
        <div class="suggestion-item-container">
          <div class="suggestion-text" [innerHTML]="suggestion.htmlContent">
          </div>
        </div>
      </li>
    </ul>
  </mat-expansion-panel>
</ng-container>
